.victory-text {
  color: gold;
}

.loss-text {
  color: #CD7F32;
}

#score-container {
  height: 50px;
}

#message-text-container {
  color: #7D658D;
}

#score-wrapper {
  color: gold;
  display: block;
  width: 100px;
  float: right;
}

#opponent-wrapper {
  color: #444444;
  width: 400px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.type-area {
  height: 170px !important;
}

.tutorial-image {
  display: block;
  margin: 0 auto;
  height: 600px;
  margin-bottom: 20px;
}

.tutorial-image {
  display: block;
  margin: 0 auto;
  height: 400px;
  margin-bottom: 20px;
}

.btn-join-game {
  margin-bottom: 20px;
}
