.victory-text {
  color: gold;
}

.loss-text {
  color: #CD7F32;
}

#score-container {
  height: 50px;
}

#score-wrapper {
  color: gold;
  display: block;
  width: 100px;
  float: right;
}

.type-area {
  height: 170px !important;
}
