/* lg */
@media (min-width: 1200px) {
   .hidden-lg {
     visibility: hidden;
   }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
   .hidden-md {
     visibility: hidden;
   }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
   .hidden-sm {
     visibility: hidden;
   }
}

/* xs */
@media (max-width: 767px) {
   .hidden-xs {
     visibility: hidden;
   }
}