.history-container {
  background:#fbfbfb;
  border-right:1px solid #e5e5e5;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  z-index:1000;
  cursor: pointer !important;
}

/*.history-container:hover,*/
.history-container.active {
  width: 500px;
  overflow: visible;
  cursor: default !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.history-container:not(.active):hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-sidebar {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}

.history-container:not(.active) .history-heading .history-text {
  left: 60px;
}

.history-line > .history-text {
  left: 60px;
}

.history-table {
  display: block;
  left: 60px;
  position: absolute;
  margin-top: 20px;
}

.history-container .history-heading {
  margin: 7px 0;
  position: relative;
  display: block;
  width: 250px;
    outline:0;
  margin:0;
  padding:0;
}

.history-lines-container {
  margin: 7px 0;
  position: relative;
  display: block;
  width: 250px;
    outline:0;
  margin:0;
  padding:0;
}

.history-container .history-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
}

.close-history-button {
  position: absolute;
  padding-right: 10px;
  padding-bottom: 0;
  left: 90%;
  top: 5px;
  display: inline-block;
  cursor: pointer !important;
}

.close-history-button:hover > i {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.page-overlay {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    999;
  top:        0; 
  left:       0; 
  position:   fixed;
}

.winner-entry {
  font-weight: bold;
  color: gold;
}